@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

html, body{
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  width: 100%;
  background: url(code.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  height: auto;

  margin: 0;
  padding: 0;

  position: fixed;
}

header ul {
  list-style-type: none;
  width: 50%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

header > ul > li {
  margin: auto;
  display: inline;
  padding: 0 5px;
  white-space: nowrap;
  opacity: .5;
}

header > ul > li > a {
  text-decoration: none;
}

header > ul > li > a:hover {
}

.intro{
  height: 100%;
  width: 100%;
  margin: auto;
  background: url(code.jpeg) no-repeat center center fixed;
  display: table;
  top: 0;
  background-size: cover;
}

.intro .inner{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.content{
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  border-radius: 20px;
  color: #696969;
  padding: 10px 20px;
  padding: 20px;
  background: rgba(34,34,34,0.75);
}

.content h1{
  /*font-family: 'Raleway', sans-serif;*/
  /*color: #F9F3F4;*/
  /*text-shadow: opx 0px 300px #000;*/
  font-size: 300%;
}

.content h4{
  /*font-family: 'Raleway', sans-serif;*/
  /*color: #F9F3F4;*/
  /*text-shadow: opx 0px 300px #000;*/
  font-size: 100%;
  border-radius: 20px;
}


.topList {
  max-width: 375px;
  margin: 5px 5px;
  text-align: left;
  border-radius: 10px;
  color: #696969;
  padding: 10px 20px;
  padding: 20px;
  background: rgba(34,34,34,0.75);
  opacity: 1;
}

.topList h2 {
  /*font-family: 'Raleway', sans-serif;*/
  color: white;
  text-shadow: opx 0px 300px #000;
  font-size: 100%;+
  text-align: left;
}

.subList{
  max-width: 375px;
  margin: 5px 5px;
  text-align: left;
  border-radius: 10px;
  color: #696969;
  padding: 10px 20px;
  padding: 20px;
  background: rgba(34,34,34,0.75);
  opacity: 1;
}

.subList h2 {
  /*font-family: 'Raleway', sans-serif;*/
  color: white;
  text-shadow: opx 0px 300px #000;
  font-size: 100%;+
  text-align: left;
}

.headerList { 
  color: #000;
  background: rgba(34,34,34,0.75);
  border-radius: 20px;
}

.outsideBubbleLeft {
  max-width: 375px;
  margin: 1px 1px;
  text-align: left;
  border-radius: 20px;
  color: #696969;
  padding: 5px 10px;
  padding: 2px;
  background: rgba(75, 107, 110,0.5);
  vertical-align: center;
  float: left;
}

.outsideBubbleRight {
  max-width: 375px;
  min-width: 375px;
  margin: 1px 1px;
  text-align: left;
  border-radius: 20px;
  color: #696969;
  padding: 5px 10px;
  padding: 2px;
  background: rgba(75, 107, 110,0.5);
  vertical-align: center;
  float: right;
}
.outsideBubbleCenter {
  max-width: 500px;
  margin: 0px auto;
  text-align: center;
  border-radius: 20px;
  color: #696969;
  padding: 5px 10px;
  padding: 2px;
  background: rgba(75, 107, 110,0.5);
  vertical-align: center;
  float: center;
}

.outsideBubbleRight a {
  color: #AE97CB;
  text-decoration: none;
}

.outsideBubbleLeft a {
  color: #AE97CB;
  text-decoration: none;
}

ul {
  /*font-family: 'Raleway', sans-serif;*/
  font-size: 100%;
  text-align: left;
  list-style: none;
}

li {
  margin: 0 0 5px 0;
}

