@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

html, body{
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  width: 100%;
}

header {
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  height: auto;

  margin: 0;
  padding: 0;

  position: fixed;
}

header ul {
  list-style-type: none;
  width: 50%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

header > ul > li {
  margin: auto;
  display: inline;
  padding: 0 5px;
  white-space: nowrap;
  opacity: .5;
}

header > ul > li > a {
  text-decoration: none;
}

header > ul > li > a:hover {
}

.intro{
  height: 100%;
  width: 100%;
  margin: auto;
  background: url(code.jpeg) no-repeat center center fixed;
  display: table;
  top: 0;
  background-size: cover;
}

.intro .inner{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.content{
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  color: #696969;
  padding: 10px 20px;
  padding: 20px;
  background: rgba(34,34,34,0.75);
}

.content h1{
  /*font-family: 'Raleway', sans-serif;*/
  /*color: #F9F3F4;*/
  /*text-shadow: opx 0px 300px #000;*/
  font-size: 300%;
}

.content h4{
  /*font-family: 'Raleway', sans-serif;*/
  /*color: #F9F3F4;*/
  /*text-shadow: opx 0px 300px #000;*/
  font-size: 100%;
}


