<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, maximum-scale=1">

<meta property="og:locale" content="en_us">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:url" content="{{ site.url }}">
<meta property="og:site_name" content="{{ site.name }}">
<meta property="og:type" content="website">
<meta property="og:description" content="{% if page.description %} {{ page.description }} {% else %} {{ site.description }} {% endif %}">
<meta property="og:image" content="{% if page.image %} {{ site.url }}/assets/{{ page.image }} {% else %} {{ site.url }}/assets/{{ site.logo }} {% endif %}">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ site.social.twitter }}">
<meta name="twitter:domain" content="{{ site.url }}">
<meta name="twitter:creator" content="@{{ site.social.twitter }}">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{% if page.description %} {{ page.description }} {% else %} {{ site.description }} {% endif %}">
<meta name="twitter:image:src" content="{% if page.image %} {{ site.url }}/assets/{{ page.image }} {% else %} {{ site.url }}/assets/{{ site.logo }} {% endif %}">

<link rel="shortcut icon" href="{{ site.url }}/assets/favicons/favicon.ico">
<meta name="apple-mobile-web-app-title" content="{{ site.name }}">
